# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables
.env

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Build / cache
*.log
*.tmp

# Python packaging
*.egg-info/
dist/
build/
